<!doctype html>
<html class="no-js" lang="">

    @await Component.InvokeAsync("_UILayoutHead")

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    @await Component.InvokeAsync("_UILayoutHeader")
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    @await Component.InvokeAsync("_UILayoutMobileMenu")
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    @await Component.InvokeAsync("_UILayoutNavbar")
    <!-- Main Menu area End-->
    <!-- Breadcomb area Start-->
    @await Component.InvokeAsync("_UILayoutBreadComb")
    <!-- Breadcomb area End-->
    <!-- Inbox area Start-->
    @RenderBody()
    <!-- Inbox area End-->
    <!-- Start Footer area-->

    <!-- End Footer area-->
 @await Component.InvokeAsync("_UILayoutFooter")
</body>

</html>