@using NotikaIdentityEmail.Areas.Admin.Models

@model List<CategorySidebarItemViewModel>

<div class="inbox-status">
    <ul class="inbox-st-nav">
        @foreach (var item in Model)
        {
            <li>
                <a href="/Message/GetMessageListByCategory/@item.CategoryId">
                    <i class="@item.CategoryIconUrl"></i> @item.CategoryName
                    <span class="pull-right">@item.MessageCount</span>
                </a>
            </li>
        }
    </ul>
</div>